@media (max-width: 767px) {
    .text-container {
        max-width: 100%;
        padding: 10px;
    }
    .lg-text {
        font-size: 48px;
    }
    .work {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin: 50px 0px;
        gap: 20px;
    }
    .card {
        max-width: 100%;
        max-height: none;
    }
    .contact, .about {
        min-height: auto;
    }
    .contact h2, .about h2 {
        font-size: 32px;
    }
}

/* For screens between 768px and 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
    .work {
        margin: 50px 0px;
    }
}